{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
            {{app_name}} {% if title %}&nbsp;-&nbsp;{{title}}{% endif %} 
        </title>
		<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/ico">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<script defer type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script defer type="text/javascript" src="{% static "js/jquery.validate.min.js" %}"></script>
        <script defer type="text/javascript" src="{% static "js/fontawesome-all.min.js" %}"></script>
        <script defer type="text/javascript" src="{% static "js/app.js" %}"></script>
	</head>
	<body>
		{% include 'common/header.html' %}
		<section class="section">
            <div class="container">
                <div class="columns is-desktop">
                    <div class="column is-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="column is-4">
                        {% block right_blocks %}
                        {% endblock %}
                    </div>
                </div>
            </div>
		</section>
	</body>
</html>
